<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez nous !</h1>
    <p>
      Merci de ton inscritption sur <%= @url %>
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : https://<%= @url %>/users/sign_in 
    </p>
    <p> À très vite sur <%= @url %> !
    </body>
  </html>