<ul class="list-unstyled">
  <li class="float-lg-right"><a href="#top">Back to top</a></li>
  <li> <a href="https://github.com/the-hacking-team/kitten-project">GitHub</a></li>
  <li> THP s.13</li>
  <li> Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. 
    Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>. </li>
</ul>
