// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";


// Item list 

.item-deck {
  @extend .card-deck !optional;
  @extend .row;
  margin: 60px;
 }

 .item-card-object {
 @extend .col-lg-4, .col-md-6, .mb-3, .mt-2;
 }


.item-card {
  @extend .card;
  margin: 10px;
  width: 16rem;
  height: 500px;
}

.item-card-image {}

.item-img {
  @extend .card-img-top;
  width: 15.9rem;
  height: 15rem;

}

// Text

.item-card-text {
  @extend .px-2;
}

.item-card-body {
  @extend .card-body;
  display: flex;
  flex-direction: column;
}

.item-title {
  @extend .card-title;
}

.item-text {
  @extend .card-text;
}

// Buttons

.item-card-buttons {
  @extend .pt-2;
  text-align: center;
  margin-bottom: 5px;
  flex-direction: column;
}


.show-button {
  @extend .btn, .btn-info, .mt-auto;
  margin-bottom: 5px;
}

.action-button {
  @extend .btn, .btn-primary, .mt-auto;
  margin-bottom: 5px;
}

.cart-button {
  @extend .btn;
  background-color: #b15315;
  outline: none;
  color: white;
}


// Item (show)


.product-container {

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.product {
  @extend .card, .pb-5, .col-md-6;
  width: 502px;
}


.product-img {
  
  margin-bottom: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.product-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.price_button_container {
  @extend .mr-1, .pr-2;
  margin-top: -40px;
  justify-content:flex-end;
  text-align:right;
}

.price_button {
  @extend .btn, .btn-danger, .rounded-circle, .border-secondary, .font-weight-bold;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  background-color: white;
  color: black;
  border-color: black;
}



// Test autre option

.element {
  text-align: center;
  padding: 8%;
}

.element_picture {
  float: left;
  width: 400px;
  height: 300px;
  clear: left;
  margin-right: 50px;
}

.element_text {
  padding-top: 7%;
  margin-left: 50px;
}