<div style="padding: 20px">
  <h1>Statistiques administrateur</h1><br><br>
<p>L'application compte <%= @users.size%> utilisateurs</p>
<p><%= @items.size%> Produits sont disponibles sur le site</p>
<p><%= @orders.size%> Commandes ont été effectuées à ce jour</p>
<p>Total des Commandes été effectuées à ce jour : <%= @total_amount%> euros</p>
</div>