<% content_for :main do %>
  <div class="container d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="card my-5 border-dark text-secondary">
        <div class="card-header">
          <h4> <%= "Formulaire" %> </h4>
        </div>
        <div class="card-body py-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
